<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.text_field :nickname, class:"form-control", placeholder: "Input Nickname" %>
  </div>
  <div class="field">
    <%= form.text_field :country, class:"form-control", placeholder: "Input your country" %>
  </div>
  <div class="field">
    <%= form.file_field :avatar %>
  </div>



  <div class="actions">
    <button type="submit" class="btn btn-secondary">Submit</button>
  </div>
<% end %>
