<% @posts.each do |p| %>
  <div class="card ">
    <div class="card-header">
      <h4><%= p.title %></h4>
    </div>
    <div class="card-body">
      <p class="card-text"><%= raw p.body %></p>
      <%= link_to "Read more", post_path(p.id), :class => 'btn btn-primary active stretched-link' %>
    </div>
    <div class="card-footer text-white bg-secondary mb-3">
      <p>Created by user: <strong><%= p.user.email.split('@').first %></strong> <br>
         Created at <%= distance_of_time_in_words(p.created_at, Time.now) %> ago </p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 text-center">
    <%= will_paginate @posts, :container => false %>
  </div>
</div>
